/* @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'); */

.icon{
  height: 10px;
  width: 10px;
}

.button{
  width:140px;
  height:50px;
  border:2px solid #142433;
  float:left;
  text-align:center;
  cursor:pointer;
  position:relative;
  text-decoration:none;
  box-sizing:border-box;
  overflow:hidden;
  margin:0 0 40px 50px;
}
.button a{
  font-family:arial;
  font-size:16px;
  color:#fff;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}
.eff-8{
  width:140px;
  height:50px;
  text-decoration:none;
  border:70px solid #142433;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
  box-sizing:border-box;
}
.button:hover .eff-8{
  border:0px solid #142433;
}
.button:hover a{
  color:#142433;
}






.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}

/* Just for CodePen styling - don't include if you copy paste */
html {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
/* body {
  width: 640px;
} */
